# Dependencies
node_modules/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
__pycache__/
*.pyc
.venv/
venv/

# Build files
/build
/dist
*.log

# IDE files
.idea/
.vscode/
*.swp
.DS_Store

# Large media files
*.mp4
*.mov
*.mp3
*.wav
*.zip
*.rar